.Home {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    
}

.div {
    width: 445px;
    display: flex;
    gap: 80px;

    img {
        width: 50px;
    }
}

.Home h1 {
    font-family: Livvic;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    text-align: left;
    width: 635px;

    span {
        color: #F67E7E;
    }
}

/* .group {
    position: absolute;
} */